body{
    width: 80%;
    margin: auto;
}
#pname{
    text-align: center;

}
hr
{
    height:2px;
    background-color: green;
}
h3{
    width: 100%;
    background-color: grey;
}
table{
    width: 100%;
    border-collapse: collapse;

}
table th {
    background-color: green;
    color: white;
}
 th,td{
    border-bottom: 1px solid grey;
}